%article.video_category
  %header
    %h3= link_to "#{@category.first.name}", category_path(@category.first)
  .videos.row
    - @category.first.videos.each do |video|
      %video_format.video.col-sm-2
        = link_to video_path(video) do
          %img(src="#{video.small_cover_url}")

%article.video_category
  %header
    %h3= link_to "#{@category.last.name}", category_path(@category.last)
  .videos.row
    - @category.last.videos.each  do |video|
      %video_format.video.col-sm-2
        = link_to video_path(video) do
          %img(src="#{video.small_cover_url}")

